[Unit]
Description=Active Directory Favorizer
DefaultDependencies=no

[Service]
Type=simple
EnvironmentFile=/usr/bin/active-dir-favorizer/gtk3_linux_main/.progconf
ExecStart=/usr/bin/active-dir-favorizer/gtk3_linux_main/gtk3_linux_main $ARG1
TimeoutStartSec=5
RemainAfterExit=yes

[Install]
WantedBy=default.target